{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/img6.jpeg')}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1 class="main-text">Let the trip begin</h1>
                            <span class="subheading"><h2>Plan your perfect trip with us</h2><br>
                                <a id="inner-link" href="#home_page_main_content">Search for Flights, Hotels & Best Places to visit </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4" id="home_page_main_content">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">

                        <!-- <h4>Data Processing and Management Course Project</h4>
                        <h4>Details:</h4>
                        <h4>Group Members: </h4>
                        <ol>
                            <li>Aditya Raj Singh</li>
                            <li>Ritik Agrawal</li>
                        </ol>  
                        <h4>Course Instructor: </h4>
                        <ul>
                            <li>Dr. Pravesh Biyani</li>
                            
                        </ul>  
                        <h4>Course TAs : </h4>
                        <ol>
                            <li>Raashid Altaf</li>
                            <li>Gitansh Raj Satija</li>
                            <li>Mohd. Siraj Ansari</li>
                        </ol>   -->


                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>
                         -->

                        <h2 style="text-align: center;">Trending destinations</h2>

                        <br><br>
                        <div class="slideshow-container">

                            <div class="mySlides fade">
                              <!-- <div class="numbertext">1 / 3</div> -->

                              <img src="static/assets/img/bangalore.jpeg" style="width:100%">
                              <div class="text">Bangalore</div>
                            </div>
                            
                            <div class="mySlides fade">
                              <!-- <div class="numbertext">2 / 3</div> -->
                              <img src="static/assets/img/goa.jpeg" style="width:100%">
                              <div class="text">Goa</div>
                            </div>
                            
                            <div class="mySlides fade">
                              <!-- <div class="numbertext">3 / 3</div> -->
                              <img src="static/assets/img/guwahati.jpeg" style="width:100%">
                              <div class="text">Guwahati</div>
                            </div>

                            <div class="mySlides fade">
                                <!-- <div class="numbertext">1 / 3</div> -->
  
                                <img src="static/assets/img/manali.jpeg" style="width:100%">
                                <div class="text">Manali</div>
                              </div>

                              <div class="mySlides fade">
                                <!-- <div class="numbertext">1 / 3</div> -->
  
                                <img src="static/assets/img/srinagar.jpeg" style="width:100%">
                                <div class="text">Sri Nagar</div>
                              </div>

                              <!-- <div class="mySlides fade">

  
                                <img src="static/assets/img/chandigarh.jpeg" style="width:100%">
                                <div class="text">Chandigarh</div>
                              </div> -->

                              <div class="mySlides fade">
                                <!-- <div class="numbertext">1 / 3</div> -->
  
                                <img src="static/assets/img/shimla.jpeg" style="width:100%">
                                <div class="text">Shimla</div>
                              </div>

                              <div class="mySlides fade">
                                <!-- <div class="numbertext">1 / 3</div> -->
  
                                <img src="static/assets/img/ooty.jpeg" style="width:100%">
                                <div class="text">Ooty</div>
                              </div>

                              <div class="mySlides fade">
                                <!-- <div class="numbertext">1 / 3</div> -->
  
                                <img src="static/assets/img/meghalya.jpeg" style="width:100%">
                                <div class="text">Meghalaya</div>
                              </div>


                            
                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                            <a class="next" onclick="plusSlides(1)">❯</a>
                            
                            </div>
                            <br>
                            
                            <div style="text-align:center">
                              <span class="dot" onclick="currentSlide(1)"></span> 
                              <span class="dot" onclick="currentSlide(2)"></span> 
                              <span class="dot" onclick="currentSlide(3)"></span> 
                              <span class="dot" onclick="currentSlide(4)"></span> 
                              <span class="dot" onclick="currentSlide(5)"></span> 
                              <span class="dot" onclick="currentSlide(6)"></span> 
                              <span class="dot" onclick="currentSlide(7)"></span> 
                              <span class="dot" onclick="currentSlide(8)"></span> 
                              <!-- <span class="dot" onclick="currentSlide(9)"></span>  -->


                            </div>
                            
                            <script>
                            let slideIndex = 1;
                            showSlides(slideIndex);
                            
                            function plusSlides(n) {
                              showSlides(slideIndex += n);
                            }
                            
                            function currentSlide(n) {
                              showSlides(slideIndex = n);
                            }
                            
                            function showSlides(n) {
                              let i;
                              let slides = document.getElementsByClassName("mySlides");
                              let dots = document.getElementsByClassName("dot");
                              if (n > slides.length) {slideIndex = 1}    
                              if (n < 1) {slideIndex = slides.length}
                              for (i = 0; i < slides.length; i++) {
                                slides[i].style.display = "none";  
                              }
                              for (i = 0; i < dots.length; i++) {
                                dots[i].className = dots[i].className.replace(" active", "");
                              }
                              slides[slideIndex-1].style.display = "block";  
                              dots[slideIndex-1].className += " active";
                            }
                            </script>
                            



                    </div>
                </div>
            </div>
        </main>
       
{% endblock %}